{% extends 'base.html' %}
{% block title %}Прохождение теста{% endblock %}

{% block content %}
  <h2>{{ quiz.title }}</h2>
  <form method="post">
    {% csrf_token %}
    {% for question in quiz.questions.all %}
      <div class="question-block">
        <p><strong>{{ forloop.counter }}.</strong> {{ question.text }}</p>
        {% for answer in question.answers.all %}
          <label>
            <input type="radio" name="q{{ question.id }}" value="{{ answer.id }}">
            {{ answer.text }}
          </label><br>
        {% endfor %}
      </div>
    {% endfor %}
    <button type="submit" class="btn-link btn-success">Отправить</button>
  </form>
{% if quiz.quizresult_set.filter(student=request.user).exists %}
  <div class="course-card" style="margin-top: 30px;">
    <h4>Уже проходили этот тест</h4>
    {% with result=quiz.quizresult_set.get(student=request.user) %}
      <p>Ваш результат: <strong>{{ result.score }}%</strong></p>
      <p style="font-size: 0.9em; color: #666;">Дата прохождения: {{ result.completed_at|date:"d.m.Y H:i" }}</p>
    {% endwith %}
  </div>
{% endif %}

{% endblock %}
