<h2>Курс: {{ course.title }}</h2>

<h3>Модули</h3>
<ul>
  {% for module in course.modules.all %}
    <li>{{ module.title }}</li>
  {% empty %}
    <li>Нет модулей</li>
  {% endfor %}
</ul>
<a href="{% url 'add_module' course.pk %}" class="btn-link">Добавить модуль</a>

<h3>Тесты</h3>
<ul>
  {% for quiz in course.quizzes.all %}
    <li>
      <strong>{{ quiz.title }}</strong><br>

      <a href="{% url 'edit_quiz' quiz.pk %}" class="btn-link">Редактировать</a>

      <a href="{% url 'import_questions' quiz.pk %}" class="btn-link">Импорт из CSV</a>

      <form method="post" action="{% url 'restart_quiz_for_user' quiz.pk %}" style="display:inline;">
        {% csrf_token %}
        <button class="btn-link btn-warning">Пройти заново</button>
      </form>

      <form method="post" action="{% url 'delete_quiz' quiz.pk %}" style="display:inline;">
        {% csrf_token %}
        <button class="btn-link btn-danger">Удалить</button>
      </form>
    </li>
  {% endfor %}
</ul>

<a href="{% url 'create_quiz' course.pk %}" class="btn-link">Добавить тест</a>

